/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
*{
    a{
        transition: all .3s ease;
        &:hover, &:focus{
            cursor: pointer;
        }
    }
}
.color-red{ color: #b40000; }

.wrapper{
    // background: -webkit-linear-gradient(90deg, rgb(75, 54, 136), rgb(38, 208, 223));
    background: url(../images/bg-top.png) 50% top no-repeat,
                url(../images/bg-bottom.png) left bottom no-repeat,
                linear-gradient(90deg, rgb(75, 54, 136), rgb(38, 208, 223));

}
.main-card{
    width: 742px;
    margin: auto;
    .logo{
        text-align: center;
        margin-top: 44px;
    }
    h1{
        font-size: 1.5em;
        text-align: center;
        line-height: 1.4;
        a{
            color: #fff;
            text-decoration: none;   
            &:hover, &:focus{}
        }
    }
    h2{
        color: #26d0df;
        text-align: center;
        font-size: 1.75em;
    }

    .login{
        background: rgba(0,0,0,0.45);
        padding: 1.5em 2em;
        border-radius: 4px;
        margin-top: 22px;
        margin-bottom: 2em;

        .captcha{
            margin: 0 4px;
            &:hover, &:focus{
                cursor: pointer;
            }
        }

        form{
            width: 550px;
            // background: purple;
            margin: auto;

            position: relative;  
            .other{
                position: absolute;
                right: -20px;
                left: 370px;
                bottom: 20px;
                a{
                    color: #fff;
                    padding: .45em .5em;
                    margin-right: -4px;
                    transition: all .3s ease;
                    border-radius: 4px;
                    &:hover, &:focus{
                        background: #ff800f;
                        text-decoration: none;
                    }
                }
            }
        }
        .flex-form {
            .form_grp {
                label{ margin: 0; }
                .form_title {
                    color: #fff;
                    text-align: right;
                    font-size: 1.125em;
                    padding: 16px 0;
                    flex: 0 0 100px;
                }
                .form_content{
                    max-width: calc(100% - 100px);
                    flex-basis: calc(100% - 100px);
                    padding: 0 0;
                    input{
                        width: 260px;
                    }
                    *[class^="notice"] { margin: 2px .3em; }
                }
            }
        }

        .btn-submit{
            background: #25d0df;
            color: #4a3486;
            font-weight: bold;
            width: 180px;
        }
    }

    @media screen and (max-width: 800px) {

        width: 100%;
        .container{
            @include gutter();
        }

        .login{
            form{
                width: 100%;
                .other{
                    position: initial;
                    text-align: center;
                }
            }
            .flex-form {
                .form_grp {
                    .form_title{
                        flex: 1 1 100%;
                        text-align: left;
                        padding: 8px 0 4px;
                        margin: 0 .3em;
                    }
                    .form_content{
                        flex: 1 1 100%;
                        max-width: 100%;
                        input{ width: 100%; }
                    }
                }
            }
        }
    }
}

.news, .list{
    margin-bottom: 25px;
    .container{
        // background: #ffffff;
        // border-radius: 4px;
        @include gutter();
        h3{ letter-spacing: 2px;  }
        .col{
            background: #ffffff;
            border-radius: 4px;
        }
        .info{
            padding: .5em 1.75em;
            line-height: 1.8;

            a{
                text-decoration: none;
                color: #4b3588;
                padding: 0 6px;

                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 1px;
                    background: #4b3588;
                    left: 6px;
                    bottom: -2px;
                    transition: all .3s ease;
                }

                &.download{
                    &:after{
                        content: '';
                        position: inherit;
                        width: 36px;
                        height: 20px;
                        display: inline-block;
                        left: 0;
                        vertical-align: sub;
                        background: url(../images/icon-download.svg) 50% 50% no-repeat;
                    }
                }

                &:hover, &:focus{
                    cursor: pointer;
                    &:before{
                        width: calc( 100% - 12px);
                    }

                    &.download{
                        &:before{
                            width: calc(100% - 50px);
                        }
                    }
                }
            }
        }
    }

    @include screen('tablet') {
        .container{
            @include gutter();
        }
    }
}


.news{
    h3{
        background: #fabe0e;
        color: #080808;
        text-align: center;
        margin: 0;
        font-size: 1.625em;
        padding: 22px 0 16px;
        border-radius: 4px 4px 0 0; 

        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 50%;
            margin-left: -90px;
            top: 0;
            width: 180px;
            height: 6px;
            background: #ff800f;
        }
    }
    .info{
        >ol, >ul{
            >li{ margin-bottom: 1em; }
        }
    }
}

.list{
    h3{
        background: #f9f9f9;
        font-size: 1.125em;
        padding: 20px 2.25em 14px;
        border-radius: 4px 4px 0 0;
        margin: 0;

        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: 2.25em;
            top: 0;
            width: 148px;
            height: 6px;
            background: #25d0df;
        }
    }
    .info{
        >ol, >ul{
            >li{ margin-bottom: .5em; }
        }

        ol{
            list-style-type: cjk-ideographic;
        }
        ol ol{
            padding-left: 1.25em;   
            list-style-type: decimal;
        }
        ol ol ol{
            padding-left: 0;   
            li{ display: block ; counter-increment: item; }
            li:before { content: " ("counter(item,decimal)") "; }
            // li::marker{
            //     color: red;
            // }
        }
    }

    &.notice{
        .info{
            >ol, >ul{
                >li{ margin-bottom: 1.5em; }
            }
            b{}
        }
    }
}

footer {
    .container {
        padding-bottom: 2em;
        color: #fff;
        text-align: center;
        line-height: 1.4;
        font-size: .9em;
    }
}







